[submodule "cpp/3rd-party/plog"]
	path = cpp/3rd-party/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "cpp/3rd-party/restclient-cpp"]
	path = cpp/3rd-party/restclient-cpp
	url = https://github.com/mrtazz/restclient-cpp.git
[submodule "cpp/3rd-party/json"]
	path = cpp/3rd-party/json
	url = https://github.com/nlohmann/json.git
[submodule "cpp/3rd-party/args"]
	path = cpp/3rd-party/args
	url = https://github.com/Taywee/args.git
[submodule "cpp/3rd-party/cpp-httplib"]
	path = cpp/3rd-party/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
