name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: update all submodules
      run: git submodule update --init --recursive
    - name: make
      run: |
        cd ./cpp/lopdns-api-client
        make
    - uses: actions/upload-artifact@v4
      with:
        name: lopdns-api-client
        path: cpp/lopdns-api-client/lopdns-api-client
